<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/general.css">
</head>
<body>
    <div class="nav">
        <nav>
            <ul>
                <a href="/"><li>Shop</li></a>
                <a href="/admin/add-product"><li>Add Product</li></a>
                <a href="/contactus"><li>Contact Us</li></a>
            </ul>
        </nav>
    </div>
    <h1 style="color: green;">Form submitted successfully</h1>
</body>
</html>